@import '../../../MainProperties.scss';

.originProducts {
    max-width: 1048px;
    width: 100%;
    margin: 0 auto 135px auto;
}
.productsHeading {
    text-align: center;
    font: {
        weight: 600;
        size: 44px;
        style: normal;
    }
    margin-bottom: 82px;
}
.content{
    max-width: 1048px;
    display: flex;
}
.imgWrapper {
    position: relative;
    width: 50%;
    margin: 0;
    overflow: hidden;
}
.imgMonitor {
    margin-left: 108px;
}
.imgTrig {
    position: absolute;
    top: -87px;
    left: 65px;
}
.imgTrip {
    position: absolute;
    bottom: -54px;
    left: 387px;
}
.textWrapper {
    width: 50%;
    margin: 0 6px 0 0;
}
.blueText {
    font: {
        style: normal;
        size: 24px;
        weight: bold ;
    }
    color: $blue;
    margin-top: 111px;
    margin-bottom: 17px;
}
.heading {
    @include heading;
    margin-top: 0;
    margin-bottom: 17px;
}
.text {
    @include text;
    margin-top: 0;
}
@media (max-width: 964px) {
    .originProducts {
        margin: 90px auto 120px auto;
    }
    .content {
        flex-direction: column;
    }
    .productsHeading {
        margin-bottom: 0;
        font-size: 34px;
    }
    .blueText {
        margin-top: 76px;
        margin-bottom: 30px;
    }
    .imgWrapper {
        order: 1;
        @include mediaState;
    }
    .textWrapper {
        order: 0;
        @include mediaState;
        text-align: center;
    }
    .heading {
        @include headingMedia;
        margin-bottom: 35px;
    }
    .text {
        max-width: 326px;
        margin: 0 auto 75px auto;
    }
    .imgMonitor {
        margin: 0 auto;
        display: block;
    }
    .imgTrip, .imgTrig {
        display: none;
    }
}