@import '../../MainProperties.scss';
.header {
    margin: 64px auto 0 auto;
    max-width: 1000px;
    width: 100%;
    padding-left: 34px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}
.logo {
    max-width: 112px;
    width: 100%;
    height: 36px;
    position: relative;
    z-index: 10;
}
.navigation {

    width: 100%;
    max-width: 400px;
}
.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
    font: {
        size: 20px;
        weight: 600;
    }
    position: relative;
    z-index: 10;
}
.home, .homeMedia {
    text-decoration: none;
    color: $blue;
}
.part {
    text-decoration: none;
    color: #252b42;
}
.button {
    @include button;
    background-color: $pink;
    color: $blue;
    max-width: 204px;
    height: 70px;
}
.home:hover, .part:hover {
    border-bottom: 2px solid;
}
.button:hover {
    @include hover;
}
.button:focus {
    @include outline;
}
.menuButton, .menuMedia, .menuFade {
    display: none;
}
@media (max-width: 768px) {
    // .delMenu, .menuButton, .menuMedia{
    //     display: block;
    // }
    .menuFade{
        transition: right 0.3s ease-in;
        right: -800px;
        display: block;
        background: #fff;
        position: fixed; 
        width: 100%; 
        height: 100%;
        opacity: 1;
        z-index: 100;
    }
    .logo {
        position: absolute;
        z-index: 1000;
    }
    .menu, .button {
        display: none;
    }
    .menuFadeOpen {
        transition: right 0.3s ease-in;
        right: -2px;
        display: block;
        background: #fff;
        position: fixed; 
        width: 100%; 
        height: 100%;
        opacity: 1;
        z-index: 100;
    }
    .menuMedia {
        margin-top: 103px;
        padding: 10px;
        max-width: 629px;
        width: 70%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        position: absolute;
        right: 12%;
        top: 18px;
        z-index: 1000;
    }
    .part, .homeMedia {
        display: block;
        background-color: $pink;
        line-height: 70px;
        border-radius: 10px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .part:hover, .homeMedia:hover {
        @include hover;
    }
    .menuButton {
        display: block;
        width: 20px;
        height: 16px;
        border: none;
        margin-right: 55px;
        margin-top: 10px;
        padding: 0;
        background: none;
        position: relative;
        z-index: 999;
        cursor: pointer;
    }
    .menuButton:focus {
        @include outline;
    }
}