@import '../../../MainProperties.scss';
.saveTime {
    max-width: 1048px;
    width: 100%;
    height: 509px;
    margin: 200px auto 122px auto;
    background-color: $pink;
    border-radius: 50px;
    display: flex;
    position: relative;
}
.textWrapper {
    margin-top: 92px;
    margin-left: 115px;
    // max-width: 407px;
    width: 44%;
}
.heading {
    font: {
        style: normal;
        weight: bold;
        size: 40px; 
    }
    margin: 0 0 30px 0;
    color: $blue;
    line-height: 54px;
}
.button {
    @include button;
    background-color: $blue;
    color: $white;
    width: 314px;
    padding-top: 25px;
    padding-bottom: 22px;
}
.button:hover {
    @include hover;
}
.button:focus {
    @include outline;
}
.imgWrapper {
    position: relative;
    width: 60%;
}
.imgHand {
    margin-top: 32px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: -46px;
}
.imgCroppedHand {
    display: none;
}
@media (max-width: 1042px) {
    .saveTime {
        width: 100%;
        flex-direction: column;
        border-radius: 0;
        height: unset;
        margin-bottom: 106px;
    }
    .heading {
        text-align: center;
        margin-top: 59px;
    }
    .imgHand, .button {
        display: none;
    }
    .imgCroppedHand{
        display: block;
        margin: 0 auto;
    }
    .textWrapper {
        margin: 0 auto;
        @include mediaState;
    }
    .imgWrapper {
        width: 100%;
    }
}