body {
    margin: 0;
}

li, button, p, h1, h2 {
    font-family: 'Raleway', sans-serif;
}
.root {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #252B42;
}
#root {
    overflow: hidden;
}
@media (max-width: 768px) {
    #root {
        padding-left: 0;
    }
}