body {
    margin: 0;
}
.noScroll {
    overflow: hidden;
}
.scroll {
    overflow: unset;
}
li, button, p, h1, h2 {
    font-family: 'Raleway', sans-serif;
}
.root {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    #root {
        padding-left: 0;
    }
}